body{
    text-align:center;
    font-family:Arial;
}

.board{
    width:300px;
    margin:20px auto;
    display:grid;
    grid-template-columns:repeat(3,1fr);
}

.board div{
    width:100px;
    height:100px;
    border:2px solid black;
    font-size:40px;
    display:flex;
    align-items:center;
    justify-content:center;
    cursor:pointer;
}
